// .container {
// 	margin: 50px 0;
.card {
	margin: 5% 2% !important;
	justify-content: center;
	display: flex;
	&[case-label='confirmed'] {
		border-bottom: 10px solid rgba(0, 0, 255, 0.5) !important;
	}
	&[case-label='recovered'] {
		border-bottom: 10px solid rgba(0, 255, 0, 0.5);
	}
	&[case-label='deaths'] {
		border-bottom: 10px solid rgba(250, 0, 0, 0.5);
	}
}
